---
import Layout from '@/layouts/Layout.astro';

const metadata = {
  title: 'Estella — A beautiful blog site ✨',
  description: 'Welcome to Estella!',
};
---
<Layout metadata={metadata}>
  <main>
    <h1>Hello World Template!</h1>
  </main>
</Layout>