---
import '@/assets/styles/tailwind.css';

import { I18N } from '@/utils/config';

import Metadata from '@/components/common/Metadata.astro';

import type { MetaData as MetaDataType } from '@/types';
export interface Props {
  metadata?: MetaDataType;
}

const { metadata = {} } = Astro.props;
const { language, textDirection } = I18N;
---

<!doctype html>
<html lang={language} dir={textDirection}>
  <head>
    <Metadata {...metadata} />
  </head>

  <body class="antialiased max-w-2xl mb-40 flex flex-col md:flex-row mx-4 mt-8 lg:mx-auto">
    <slot />
    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
