---
import '@/assets/styles/tailwind.css';

import SEOTags from '@/components/seo/SEOTags.astro';

import type { MetaData as MetaDataType } from '@/types';
export interface Props {
  metadata?: MetaDataType;
}

const { metadata = {} } = Astro.props;
---

<!doctype html>
<html lang="en">
  <SEOTags {...metadata} />
  <body class="antialiased max-w-2xl mb-40 flex flex-col md:flex-row mx-4 mt-8 lg:mx-auto">
    <slot />
    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
